<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Employee Manager Application</title>
</head>
<body>
<div align="center">
    <h1>Employee Records</h1>
    <a href="/newemployee">Enter New Employee</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="emp : ${empList}">
                <td th:text="${emp.empId}">ID</td>
                <td th:text="${emp.empName}">Name</td>
                <td th:text="${emp.empSal}">Salary</td>
                <td th:text="${emp.empDept}">Department</td>
                <td>
                   <a th:href="'/edit/'+${emp.empId}"><img src="edit.png" alt="edit" width="42" height="42"></a>
                   <a th:href="'/delete/'+${emp.empId}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>  
</body>
</html>